@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400&display=swap');
* {
  font-family: 'Yaldevi', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 1.875vh;
}

@media only screen and (max-aspect-ratio: 11/16)  {
  html {
    font-size: 2.75vw;
  }
  a, p, span {
    font-size: 1.25rem;
  }
}